
body {
  background-image: url("pirate.jpg");
  color: darkred;
  /*margin-top: 10px;
  margin-left: 47%*/

}

.nav {
margin-left: 40%;
}

.inner {
  width: 50%;
  margin-left: 30%;
}

.travel-body {
  background-image: url("planes.jpg");
  color: white;
  text-align: center;
}

ul{
  list-style-type: none;
  margin-left: 10%;
}

a {
  text-decoration: none;

}
h1 {
  color: darkred;
  margin-top: 400px;
  font-size: 82px;
  margin-bottom: 0px;
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  color: red;
  background-color: gray;
  width: 500px;
}
p{
  width: 500px;
  background-color: white;
  text-align: center;
}
table {
  background-color: lightgray;
  width: 500px;
}

ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 30px;

}
td {
  padding-left: 70px;
  font-size: 40px;
  color: darkred;

}

img{
  width: 500px;
}
